<div *ngIf="!usuario.usuario.datosToken.estado">
  
  <ion-chip color="danger" class="ion-margin-top">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Aún no posees tu token, actívalo!</ion-label>
  </ion-chip>
    
<form [formGroup]="forma">
  <ion-item lines="none"> 
  <ion-title class="titulo ion-no-padding">Alta PIN Token</ion-title>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">PIN</ion-label>
    <ion-input  [type]="datos[0].tipo" formControlName="pin"  ></ion-input>
    <ion-icon *ngIf="!datos[0].ver" name="eye-outline" slot="end" (click)="datos[0].ver= !datos[0].ver; datos[0].tipo ='text'" ></ion-icon>
    <ion-icon *ngIf="datos[0].ver" name="eye-off-outline" slot="end" (click)="datos[0].ver= !datos[0].ver; datos[0].tipo ='password'"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Repetir PIN</ion-label>
    <ion-input [type]="datos[1].tipo" formControlName="repetir"   ></ion-input>
    <ion-icon *ngIf="!datos[1].ver" name="eye-outline" slot="end" (click)="datos[1].ver= !datos[1].ver; datos[1].tipo ='text'" ></ion-icon>
    <ion-icon *ngIf="datos[1].ver" name="eye-off-outline" slot="end" (click)="datos[1].ver= !datos[1].ver; datos[1].tipo ='password'"></ion-icon>
  </ion-item>
  <br>
    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Recuerda que tu PIN ...</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
  
        <p>- Debe ser un número de 4 dígitos</p>
        <p>- Será tu segundo factor de autenticación</p>
        <p>- Cuando lo ingreses te enviaremos un SMS con tu token</p>
        <p>- Podrás concretar operaciones validando tu token</p>
        <p>- No reveles nunca tu PIN</p>
   
    </ion-card-content>
  </ion-card>
<br>
  <ion-button class="ion-margin-top" expand="block" color="success" (click)="EnviarToken()">
    <ion-icon slot="start" name="save-outline" ></ion-icon>
    Dar de alta PIN
  </ion-button>
 </form> 


</div>
<div *ngIf="usuario.usuario.datosToken.estado">
  <ion-chip color="primary" class="ion-margin-top">
    <ion-icon name="information-circle-outline"></ion-icon>
    <ion-label>Tu token se encuentra activo</ion-label>
  </ion-chip>

  <ion-item lines="none"> 
    <ion-title class="titulo ion-no-padding">Baja PIN Token</ion-title>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <b>Si das de baja tu token ...</b>
      </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
  
        <p>- No podrás realizar operaciones que requieran un segundo factor de autenticación</p>
        <p>- Utiliza esta opción sólo si has perdido o cambiado tu número de celular</p>
        <p>- Recuerda que sólo podrás modificar tu número de teléfono en tu entidad bancaria </p>
   
    </ion-card-content>
  </ion-card>

  <br>
  <ion-button class="ion-margin-top" expand="block" color="success" (click)="bajaToken()">
    <ion-icon slot="start" name="save-outline" ></ion-icon>
    Baja Token
  </ion-button>
</div>
