<ion-list-header lines="inset">
  <ion-label class="titulo">Notificaciones</ion-label>
</ion-list-header>

<!-- item que se repetirá por cada alerta existente -->
<ion-list-header>
  <ion-label lines="inset">Has recibido un nuevo Echeq</ion-label>
  <ion-button >
    <ion-icon slot="icon-only" name="chevron-forward-outline" color="dark"></ion-icon>
  </ion-button>
</ion-list-header>

<ion-list-header>
  <ion-label lines="inset">Tienes Echeq disponibles para depositar</ion-label>
  <ion-button>
    <ion-icon slot="icon-only" name="chevron-forward-outline" color="dark"></ion-icon>
  </ion-button>
</ion-list-header>


