<form [formGroup]="forma">
  <ion-item lines="none"> 
  <ion-title class="titulo ion-no-padding">Cambiar Contraseña</ion-title>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Contraseña Actual</ion-label>
    <ion-input [type]="datos[0].tipo"  formControlName="actual"></ion-input>
    <ion-icon *ngIf="!datos[0].ver" name="eye-outline" slot="end" (click)="visualizar(0)"></ion-icon>
    <ion-icon *ngIf="datos[0].ver" name="eye-off-outline" slot="end" (click)="ocultar(0)"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña Nueva</ion-label>
    <ion-input [type]="datos[1].tipo"   formControlName="nueva"></ion-input>
    <ion-icon *ngIf="!datos[1].ver" name="eye-outline" slot="end" (click)="visualizar(1)"></ion-icon>
    <ion-icon *ngIf="datos[1].ver" name="eye-off-outline" slot="end" (click)="ocultar(1)"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Repetir Nueva Contraseña</ion-label>
    <ion-input [type]="datos[2].tipo"   formControlName="repetir"></ion-input>
    <ion-icon *ngIf="!datos[2].ver" name="eye-outline" slot="end" (click)="visualizar(2)"></ion-icon>
    <ion-icon *ngIf="datos[2].ver" name="eye-off-outline" slot="end" (click)="ocultar(2)"></ion-icon>
  </ion-item>

    <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Recuerda que tu contraseña ...</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
  
        <p>- Debe contener al menos 8 caracteres</p>
        <p>- Debe contener al menos 1 mayúscula</p>
        <p>- Debe contener al menos 1 número</p>
        <p>- No debe contener caracteres especiales</p>
   
    </ion-card-content>
  </ion-card>

  <ion-button class="ion-margin-top" expand="block" color="success" (click)="guardar()">
    <ion-icon slot="start" name="save-outline" ></ion-icon>
    Modificar
  </ion-button>
 </form> 
