<form [formGroup]="forma">
  <ion-item lines="none"> 
  <ion-title class="titulo ion-no-padding">Cambiar Contraseña</ion-title>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Contraseña Actual</ion-label>
    <ion-input type="text"  formControlName="actual"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña Nueva</ion-label>
    <ion-input type="text"  formControlName="nueva"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Repetir Nueva Contraseña</ion-label>
    <ion-input type="number"  formControlName="repetir"></ion-input>
  </ion-item>
 </form> 
