<ion-list-header mode="md">
  <ion-label class="titulo">Mis Echeq</ion-label>
</ion-list-header>

<ion-card>
  <ion-item>
    <ion-button fill="outline" slot="end" color="success">Ir</ion-button>
    <ion-label>Echeq Generados</ion-label>
  </ion-item>

  <ion-card-content>
    Aquí podrás administrar los echeq que hayas generado y aún no hayas librado. Podrás modificarlos, eliminarlos, firmarlos y librarlos
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-button fill="outline" slot="end" color="success">Ir</ion-button>
    <ion-label>Echeq Librados</ion-label>
  </ion-item>

  <ion-card-content>
    Aquí podrás administrar los echeq que hayas librado a un tercero. Podrás consultar ver motivos de devolución y/o rechazos.
  </ion-card-content>
</ion-card>

