<ion-list-header mode="md">
  <ion-label class="titulo">Echeq Recibidos</ion-label>
</ion-list-header>

<ion-card>
  <ion-item>
    <ion-button fill="outline" slot="start" color="success">Ir</ion-button>
    <ion-label>Echeq Depositados</ion-label>
  </ion-item>

  <ion-card-content>
    Aquí podrás administrar los echeq que hayas depositado en una cuenta vinculada. Podrás consultar Echeq Presentados y Rechazados. 
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-button fill="outline" slot="start" color="success">Ir</ion-button>
    <ion-label>Echeq Endosados</ion-label>
  </ion-item>

  <ion-card-content>
    Aquí podrás administrar los echeq que hayas endosado y cedido a un tercero. Podrás consultar y ver motivos de devolución y/o rechazos.
  </ion-card-content>
</ion-card>