.texto{
    font-size: 11px !important;
}
.subtitulo{
    font-size: 12px !important;
    font-weight: bold !important;
}

ion-select-option{
    font-size: 8px !important;
}

ion-select{
    font-size: 8px !important;
}
