.texto{
    font-size: 11px !important;
}
.subtitulo{
    font-size: 12px !important;
    font-weight: bold !important;
}

ion-select ion-select-option{
    font-size: 15px !important;
}

ion-select{
    font-size: 12px !important;
}


ion-select::part(option) {
    font-size: 20px !important;
}

// ion-select::part(text) {
//     color: #432bca;
//   }

//  .my-custom-class .action-sheet-group {
//     background: #d40303;
//   }



