<form [formGroup]="forma">
  <ion-item lines="none"> 
  <ion-title mode="md" class="titulo ion-no-padding">Iniciar Sesión</ion-title>
  </ion-item>
  
  <ion-item>
    <ion-label position="stacked">Usuario</ion-label>
    <ion-input type="number"  formControlName="cuil"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Contraseña</ion-label>
    <ion-input [type]="datos[1].tipo"   formControlName="password"></ion-input>
    <ion-icon *ngIf="!datos[1].ver" name="eye-outline" slot="end" (click)="visualizar(1)"></ion-icon>
    <ion-icon *ngIf="datos[1].ver" name="eye-off-outline" slot="end" (click)="ocultar(1)"></ion-icon>
  </ion-item>
  
    
  <ion-button class="ion-margin-top" fill="outline" expand="block" color="success" (click)="login()">
    <ion-icon name="log-in"></ion-icon>
    Ingresar
  </ion-button>
 </form> 
<br>

 <ion-button color="secondary" size="small" expand="block">
  Olvide mi contraseña
 </ion-button>
 <ion-button size="small" color="secondary" expand="block">
  Desbloquear mi cuenta
 </ion-button>
 

