.texto{
    font-size: 11px !important;
}
.subtitulo{
    font-size: 12px !important;
}
.titulo{
    font-size: 22px !important;
    font-family: 'Fira Sans';
    margin-top: 40px !important;
    margin-bottom: 15px !important;
}
