<ion-item lines="none"> 
  <ion-title class="titulo ion-no-padding">Chequeras Electrónicas</ion-title>
</ion-item>

<ion-chip *ngIf="sinChequeras" color="danger">
  <ion-icon name="sad-outline"></ion-icon>
  <ion-label>Aún no posees chequeras electrónicas!</ion-label>
</ion-chip>


<ion-card *ngFor="let chequera of chequeras; let i = index">
  
  
  <ion-item *ngIf="!chequera.cheq.estadoChequera && chequera.cheq.estadoPedido">
    <ion-chip color="primary">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>Chequera sin activar</ion-label>
    </ion-chip>
   
    <ion-icon slot="end" color="primary" name="key-outline" (click)="activar(i)"></ion-icon>
  </ion-item>
  

  <ion-item *ngIf="chequera.cheq.estadoChequera && chequera.cheq.estadoPedido">
    <ion-chip color="success">
      <ion-icon name="checkmark-outline"></ion-icon>
      <ion-label>Chequera vigente</ion-label>
    </ion-chip>
    <ion-icon color="success" slot="end" name="chevron-forward-circle-outline"></ion-icon>
  </ion-item>

  <ion-item *ngIf="!chequera.cheq.estadoPedido">
    <ion-chip color="warning">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>Pedido Pendiente</ion-label>
    </ion-chip>
  </ion-item>

  <ion-card-header>
    <ion-card-subtitle class="subtitulo">Echeq Disponibles: {{chequera.cheq.cantidadDisponible}}</ion-card-subtitle>
    <ion-card-title>{{chequera.ent.nombreEntidad}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <p class="texto">Número Primer Echeq: {{chequera.cheq.nroPrimerEcheq}}</p>
    <p class="texto">CBU Cuenta: {{chequera.cta.cbu}}</p>
    <p class="texto">Denominación: {{chequera.cta.denominacion}}</p>
    <p class="texto">Sucursal: {{chequera.ent.numeroSucursal}} - {{chequera.ent.nombreSucursal}} </p>
  </ion-card-content>
</ion-card>
<br>
<ion-button expand="block" class="ion-margin-start ion-margin-end" color="success" (click)="nuevaChequera()">
  <ion-label>Nueva Chequera</ion-label>
  <ion-icon slot="start" name="add-outline"></ion-icon>
</ion-button>

<br>
<ion-card color="secondary">
  <ion-item lines="none">
    <ion-icon color="secondary" name="information-circle-outline" slot="start"></ion-icon>
    <ion-label color="secondary"><b>Importante</b></ion-label>
  </ion-item>
  <ion-card-content>
    <p> <b>¿No aparece tu chequera?</b> </p>
    <p> - Puede ser que tu entidad aún no haya aprobado tu solicitud</p>
    <p> <b>¿Qué clave debo ingresar?</b></p>
    <p> - Tu entidad te brindará una clave para activar tu chequera</p>
  </ion-card-content>
</ion-card>


