<ion-header>
  <ion-toolbar color="success" mode="md">
    
    <ion-buttons slot="start">
      <ion-icon icon="caret-back" class="icono" (click)="volver()"></ion-icon>
    </ion-buttons>
 
    <ion-title class="titulo-pagina">Echeq Transactor</ion-title>

    <ion-searchbar showCancelButton="never"></ion-searchbar>  

    <p class="paginas">{{ruta}}</p>

    <ion-buttons slot="end">
      <ion-icon name="funnel-outline" class="icono"></ion-icon>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
