<app-cabecera ruta="Mis Echeq >" back="crearEcheq"></app-cabecera>

<ion-content mode="md">
    <ion-card>
        <ion-item color="secondary">
            <ion-label>
                <h1 class="titulo-ppal">{{nombre}}</h1>
            </ion-label>
        </ion-item>
        <ion-card-content>
            {{descripcion}}
        </ion-card-content>
    
        <ion-item button *ngFor="let boton of botones" (click)="verComponente(boton.link)">
            <ion-label class="titulo3">
              {{boton.titulo}}
            </ion-label>
            <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        </ion-item>
    </ion-card>

</ion-content>
